@import 'root.css';
@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Bold.woff);
  }
  @font-face {
    font-family: proxima-nova;
    src: url(../fonts/proxima-nova-light-webfont.woff);
  }
  
.EJE_par{
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
  
}
.EJE_par_title{
    text-align: center;
    font-size: 2rem;
    font-family: Gilroy;
    color:var(--blue-ciel);
    margin-top:3%;
    margin-bottom: 1%;
    
}
.EJE_par_description{
    font-family: proxima-nova;
    color:var(--blue-marine);
    font-size: 1.4rem;
    position:relative;
    text-align: justify;
    line-height: 1.4;
    overflow: hidden;
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: 3%;
  

}
.EJE_par_logo{
    margin-top: 3%;
    margin-left: 2%;
    width: 20%;


}
.EJE_par_description_left{
    margin-top: 3%;
    width: 38%;
    float: left;
    
}
.EJE_par_description_right{
    margin-top: 3%;
    width: 38%;
    float: right;
    margin-bottom: 2%;
   
}
.EJE_par_description_left:before
.EJE_par_description_right::before{
    content: ""; 
    width: 50vw; 
    height: 75vh;
   
}
.EJE_par_description_left:before{
    float: right;
}
.EJE_par_description_right:before{
    float: left;
}
@media screen and (max-width: 1000px) {
    .EJE_par{
        height:100vh;
  
        justify-content: center;
        align-items: center;
    }
    .EJE_par_logo{
        margin-top: 10%;
        margin-left: 2%;
        width: 20%;
    }
    .EJE_par_title{
        text-align: center;
        font-size: 1.5rem;
        font-family: Gilroy;
        color:var(--blue-ciel);
        margin-top:5%;
        margin-bottom: 1%;
    }
    .EJE_par_description{
        font-family: proxima-nova;
        color:var(--blue-marine);
        font-size: 1rem;
        position:relative;
        text-align: justify;
        line-height: 1.4;
        overflow: hidden;
        width: 85%;
        margin-left: 7.5%;
        margin-bottom: 3%;
    }
  }
@media screen and (max-width: 760px) {
    .EJE_par{
        height:100vh;
        
        justify-content: center;
        align-items: center;
    }
    .EJE_par_logo{
        margin-top: 10%;
        margin-left: 2%;
        width: 20%;
    }
    .EJE_par_title{
        text-align: center;
        font-size: 1.5rem;
        font-family: Gilroy;
        color:var(--blue-ciel);
        margin-top:5%;
        margin-bottom: 1%;
    }
    .EJE_par_description{
        font-family: proxima-nova;
        color:var(--blue-marine);
        font-size: 0.8rem;
        position:relative;
        text-align: justify;
        line-height: 1.4;
        overflow: hidden;
        width: 85%;
        margin-left: 7.5%;
        margin-bottom: 3%;
    }
  }
  @media screen and (max-width: 530px) {
    .EJE_par{
        height:100vh;
        align-items: center;
    }
    .EJE_par_logo{
        margin-top: 15%;
        margin-left: 2%;
        width: 20%;
    }
    .EJE_par_title{
        text-align: center;
        font-size: 1.5rem;
        font-family: Gilroy;
        color:var(--blue-ciel);
        margin-top:5%;
        margin-bottom: 1%;
    }
    .EJE_par_description{
        font-family: proxima-nova;
        color:var(--blue-marine);
        font-size: 0.8rem;
        position:relative;
        text-align: justify;
        line-height: 1.4;
        overflow: hidden;
        width: 85%;
        margin-left: 7.5%;
        margin-bottom: 3%;
    }
  }
  @media screen and (max-width: 450px) {
    .EJE_par{
        height:60vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
      
    }
    .EJE_par_logo{
        position:absolute;
        right: 15%;
        width: 70%;
        opacity: 0.4;
        margin-top: 50%;
    }
    .EJE_par_title{
        text-align: center;
        font-size: 1.5rem;
        font-family: Gilroy;
        color:var(--blue-ciel);
        margin-top:5%;
        margin-bottom: 1%;
    }
    .EJE_par_description{
        font-family: proxima-nova;
        color:black;
        font-size: 0.8rem;
    }
    .EJE_par_description_left:{
        margin-top: 3%;
        width: 38%;
        float: left;
        
    }
    .EJE_par_description_right{
        margin-top: 3%;
        width: 38%;
        float: right;
        margin-bottom: 2%;
       
    }
    .EJE_par_description_left:before
    .EJE_par_description_right::before{
        content: ""; 
        width: 100vw; 
        height: 75vh;
       
    }
    .EJE_par_description_left:before{
        float: center;
    }
    .EJE_par_description_right:before{
        float: center;
    }
    
  }